<div>
    <a href="/list?begins=A">A</a>
    <a href="/list?begins=B">B</a>
    <a href="/list?begins=C">C</a>
    <a href="/list?begins=D">D</a>
    <a href="/list?begins=E">E</a>
    <a href="/list?begins=F">F</a>
    <a href="/list?begins=G">G</a>
    <a href="/list?begins=H">H</a>
    <a href="/list?begins=I">I</a>
    <a href="/list?begins=J">J</a>
    <a href="/list?begins=K">K</a>
    <a href="/list?begins=L">L</a>
    <a href="/list?begins=M">M</a>
    <a href="/list?begins=N">N</a>
    <a href="/list?begins=O">O</a>
    <a href="/list?begins=P">P</a>
    <a href="/list?begins=Q">Q</a>
    <a href="/list?begins=R">R</a>
    <a href="/list?begins=S">S</a>
    <a href="/list?begins=T">T</a>
    <a href="/list?begins=U">U</a>
    <a href="/list?begins=V">V</a>
    <a href="/list?begins=W">W</a>
    <a href="/list?begins=X">X</a>
    <a href="/list?begins=Y">Y</a>
    <a href="/list?begins=Z">Z</a>
</div>